<h1>All my tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <h3>
      <%= task.title %>
    </h3>
    <p>Description:
      <i>
        <%= task.details %>
      </i>
    </p>
    <p>Task completed:
      <i>
        <% if task.completed == true %>
        <input type="checkbox" checked disabled>
        <% else %>
        <input type="checkbox" disabled>
        <% end %>
      </i>
    </p>

  </li>
  <% end %>
</ul>

